In [1]:
import pandas as pd

In [54]:
#read in the data
df = pd.read_csv('Scoring.csv')
df.head()

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
0,aaltoan01,1997,1,ANA,NHL,C,3.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aaltoan01,1998,1,ANA,NHL,C,73.0,3.0,5.0,8.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,aaltoan01,1999,1,ANA,NHL,C,63.0,7.0,11.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aaltoan01,2000,1,ANA,NHL,C,12.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,abbeybr01,1975,1,CIN,WHA,D,17.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#find where the lgID is equal to NHL
df = df[df['lgID'] == 'NHL']
df.head()

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
0,aaltoan01,1997,1,ANA,NHL,C,3.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aaltoan01,1998,1,ANA,NHL,C,73.0,3.0,5.0,8.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,aaltoan01,1999,1,ANA,NHL,C,63.0,7.0,11.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aaltoan01,2000,1,ANA,NHL,C,12.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,abbotge01,1943,1,BOS,NHL,G,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#drop the year, stint, leagueID, and teamID from the df
df.drop(columns=['year', 'stint','tmID','lgID'], inplace=True)

In [55]:
df

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
0,aaltoan01,1997,1,ANA,NHL,C,3.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aaltoan01,1998,1,ANA,NHL,C,73.0,3.0,5.0,8.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,aaltoan01,1999,1,ANA,NHL,C,63.0,7.0,11.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aaltoan01,2000,1,ANA,NHL,C,12.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,abbeybr01,1975,1,CIN,WHA,D,17.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45962,zyuzian01,2002,2,MIN,NHL,D,66.0,4.0,12.0,16.0,...,1.0,1.0,14.0,-3.0,0.0,0.0,0.0,0.0,0.0,30.0
45963,zyuzian01,2003,1,MIN,NHL,D,65.0,8.0,13.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45964,zyuzian01,2005,1,MIN,NHL,D,57.0,7.0,11.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45965,zyuzian01,2006,1,CAL,NHL,D,49.0,1.0,5.0,6.0,...,0.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0
45966,zyuzian01,2007,1,CHI,NHL,D,32.0,2.0,3.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42220 entries, 0 to 45966
Data columns (total 27 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  42220 non-null  object
 1   pos       42216 non-null  object
 2   GP        41966 non-null  float64
 3   G         41966 non-null  float64
 4   A         41966 non-null  float64
 5   Pts       41966 non-null  float64
 6   PIM       41966 non-null  float64
 7   +/-       34717 non-null  float64
 8   PPG       35430 non-null  float64
 9   PPA       23040 non-null  float64
 10  SHG       35430 non-null  float64
 11  SHA       23214 non-null  float64
 12  GWG       35482 non-null  float64
 13  GTG       28106 non-null  float64
 14  SOG       34718 non-null  float64
 15  PostGP    17713 non-null  float64
 16  PostG     17713 non-null  float64
 17  PostA     17713 non-null  float64
 18  PostPts   17713 non-null  float64
 19  PostPIM   17713 non-null  float64
 20  Post+/-   10392 non-null  float64
 21  PostPPG   14168 non-null  float64
 22  PostPPA   8854 non-null   float64
 23  PostSHG   14168 non-null  float64
 24  PostSHA   8855 non-null   float64
 25  PostGWG   14729 non-null  float64
 26  PostSOG   10392 non-null  float64
dtypes: float64(25), object(2)
memory usage: 9.0+ MB

In [7]:
#sum the values using a groupby
aggreated_df = df.groupby('playerID').sum().reset_index()

In [8]:
#drop the position column to get only numerical values
aggreated_df.drop(columns = ['pos'], inplace = True)

In [9]:
aggreated_df.head()

,playerID,GP,G,A,Pts,PIM,+/-,PPG,PPA,SHG,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
0,aaltoan01,151.0,11.0,17.0,28.0,52.0,-25.0,3.0,1.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,abbotge01,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,abbotre01,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,abdelju01,209.0,18.0,29.0,47.0,160.0,8.0,0.0,0.0,0.0,...,2.0,5.0,60.0,-6.0,0.0,0.0,0.0,0.0,0.0,47.0
4,abelcl01,333.0,20.0,18.0,38.0,359.0,0.0,0.0,0.0,0.0,...,1.0,2.0,58.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
#merge the original df and our aggrigated df on the playerID column to get the position column back
aggreated_df= pd.merge(aggreated_df, df[['playerID', 'pos']], on='playerID', how='left')
# aggreated_df.drop(['pos_y'], axis=1, inplace=True)

In [12]:
aggreated_df.drop(columns = ['pos_x'], inplace = True)

In [15]:
#drop any duplicate values
aggreated_df.drop_duplicates()
aggreated_df.rename(columns={'pos_y': 'pos'}, inplace=True)

In [56]:
aggreated_df

,playerID,GP,G,A,Pts,PIM,+/-,PPG,PPA,SHG,...,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG,pos,ordinal_pos
0,aaltoan01,151,11,17,28,52,-25,3,1,0,...,2,0,0,0,0,0,0,0,C,1
17,abbotre01,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,C,1
18,abdelju01,209,18,29,47,160,8,0,0,0,...,60,-6,0,0,0,0,0,47,L,2
43,abelcl01,333,20,18,38,359,0,0,0,0,...,58,0,0,0,0,0,0,0,D,3
107,abelge01,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453210,zuccama01,52,8,18,26,10,3,1,10,0,...,2,0,0,0,0,0,0,1,L,2
453214,zuckeja01,6,0,2,2,2,-2,0,0,0,...,0,0,0,0,0,0,0,0,L,2
453215,zukemi01,455,86,196,282,220,-40,21,0,3,...,12,0,3,0,0,0,1,0,C,1
453279,zunicru01,2,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,D,3
453280,zyuzian01,496,38,82,120,446,-40,18,24,1,...,30,-5,0,0,1,0,1,41,D,3

In [16]:
#create a new column called ordinal_pos
aggreated_df['ordinal_pos'] = aggreated_df['pos'].map({'C': 1, 'L': 2, 'R': 2, 'D': 3})
aggreated_df

,playerID,GP,G,A,Pts,PIM,+/-,PPG,PPA,SHG,...,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG,pos,ordinal_pos
0,aaltoan01,151.0,11.0,17.0,28.0,52.0,-25.0,3.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,C,1.0
1,aaltoan01,151.0,11.0,17.0,28.0,52.0,-25.0,3.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,C,1.0
2,aaltoan01,151.0,11.0,17.0,28.0,52.0,-25.0,3.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,C,1.0
3,aaltoan01,151.0,11.0,17.0,28.0,52.0,-25.0,3.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,C,1.0
4,aaltoan01,151.0,11.0,17.0,28.0,52.0,-25.0,3.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,C,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453419,zyuzian01,496.0,38.0,82.0,120.0,446.0,-40.0,18.0,24.0,1.0,...,30.0,-5.0,0.0,0.0,1.0,0.0,1.0,41.0,D,3.0
453420,zyuzian01,496.0,38.0,82.0,120.0,446.0,-40.0,18.0,24.0,1.0,...,30.0,-5.0,0.0,0.0,1.0,0.0,1.0,41.0,D,3.0
453421,zyuzian01,496.0,38.0,82.0,120.0,446.0,-40.0,18.0,24.0,1.0,...,30.0,-5.0,0.0,0.0,1.0,0.0,1.0,41.0,D,3.0
453422,zyuzian01,496.0,38.0,82.0,120.0,446.0,-40.0,18.0,24.0,1.0,...,30.0,-5.0,0.0,0.0,1.0,0.0,1.0,41.0,D,3.0
453423,zyuzian01,496.0,38.0,82.0,120.0,446.0,-40.0,18.0,24.0,1.0,...,30.0,-5.0,0.0,0.0,1.0,0.0,1.0,41.0,D,3.0

In [38]:
aggreated_df = aggreated_df.dropna().drop_duplicates()

In [57]:
aggreated_df

,playerID,GP,G,A,Pts,PIM,+/-,PPG,PPA,SHG,...,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG,pos,ordinal_pos
0,aaltoan01,151,11,17,28,52,-25,3,1,0,...,2,0,0,0,0,0,0,0,C,1
17,abbotre01,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,C,1
18,abdelju01,209,18,29,47,160,8,0,0,0,...,60,-6,0,0,0,0,0,47,L,2
43,abelcl01,333,20,18,38,359,0,0,0,0,...,58,0,0,0,0,0,0,0,D,3
107,abelge01,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453210,zuccama01,52,8,18,26,10,3,1,10,0,...,2,0,0,0,0,0,0,1,L,2
453214,zuckeja01,6,0,2,2,2,-2,0,0,0,...,0,0,0,0,0,0,0,0,L,2
453215,zukemi01,455,86,196,282,220,-40,21,0,3,...,12,0,3,0,0,0,1,0,C,1
453279,zunicru01,2,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,D,3
453280,zyuzian01,496,38,82,120,446,-40,18,24,1,...,30,-5,0,0,1,0,1,41,D,3

In [47]:
#turn float64 into int
numerical_columns = ['GP', 'G', 'A', 'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG', 'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG', 'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG', 'ordinal_pos']

#convert numerical columns from float64 to int
aggreated_df[numerical_columns] = aggreated_df[numerical_columns].astype(int)

#print the data types of the columns to verify
print(aggreated_df.dtypes)

playerID       object
GP              int64
G               int64
A               int64
Pts             int64
PIM             int64
+/-             int64
PPG             int64
PPA             int64
SHG             int64
SHA             int64
GWG             int64
GTG             int64
SOG             int64
PostGP          int64
PostG           int64
PostA           int64
PostPts         int64
PostPIM         int64
Post+/-         int64
PostPPG         int64
PostPPA         int64
PostSHG         int64
PostSHA         int64
PostGWG         int64
PostSOG         int64
pos            object
ordinal_pos     int64
dtype: object

In [30]:
from mord import LogisticAT
from sklearn.model_selection import train_test_split

In [48]:
#split the dataset into training and testing sets
X = aggreated_df[['GP', 'G', 'A', 'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG', 'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG', 'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG']]
y = aggreated_df['ordinal_pos']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [49]:
#fit the Ordinal GAM model
model = LogisticAT(alpha=0).fit(X_train, y_train)

In [50]:
#evaluate the model
print("Training Accuracy:", model.score(X_train, y_train))
print("Testing Accuracy:", model.score(X_test, y_test))

Training Accuracy: -0.4903912148249828
Testing Accuracy: -0.4783802333562114

## The negative values for both training and testing accuracy suggest that the model is performing poorly and is essentially no better than random guessing.

In [51]:
from sklearn.metrics import mean_absolute_error

In [52]:
#predict the ordinal values for the training and testing sets
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

#calculate the mean absolute error for the training and testing sets
train_mae = mean_absolute_error(y_train, y_train_pred)
test_mae = mean_absolute_error(y_test, y_test_pred)

print("Training MAE:", train_mae)
print("Testing MAE:", test_mae)

Training MAE: 0.4903912148249828
Testing MAE: 0.4783802333562114

## The Mean Absolute Error (MAE) values suggest that the model is not performing well. In ordinal regression, MAE represents the average difference between the predicted ordinal values and the actual values. A MAE of around 0.5 indicates that, on average, the model's predictions are off by approximately half a category.