In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [4]:
# Full absolute path to the csv file
file_path = r'C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\AwardsPlayers.csv'

# Read Excel file into a DataFrame
try:
    player_awards_df = pd.read_csv(file_path)
    print(player_awards_df.head(2))  # Display first few rows to verify
except FileNotFoundError:
    print("File not found at the specified location.")

#Read the data into a Pandas DataFrame
player_awards_df = pd.read_csv(file_path)
player_awards_df.head()

    playerID     award  year lgID note  pos
0  malonjo01  Art Ross  1917  NHL  NaN  NaN
1  cleghod01  Art Ross  1918  NHL  NaN  NaN

    playerID     award  year lgID note  pos
0  malonjo01  Art Ross  1917  NHL  NaN  NaN
1  cleghod01  Art Ross  1918  NHL  NaN  NaN
2  malonjo01  Art Ross  1919  NHL  NaN  NaN
3  lalonne01  Art Ross  1920  NHL  NaN  NaN
4  broadpu01  Art Ross  1921  NHL  NaN  NaN

In [5]:
# Get a brief summary 
player_awards_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2091 entries, 0 to 2090
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  2091 non-null   object
 1   award     2091 non-null   object
 2   year      2091 non-null   int64
 3   lgID      2091 non-null   object
 4   note      127 non-null    object
 5   pos       1231 non-null   object
dtypes: int64(1), object(5)
memory usage: 98.1+ KB

In [7]:
player_awards_df['playerID'].apply(type).value_counts()

playerID
<class 'str'>    2091
Name: count, dtype: int64

In [8]:
output_file = r'C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\Cleaned_Player_Awards.csv'

In [28]:
# Working around an inexplicable error. It worked
# Drop the 'note' column if it exists
if 'note' in player_awards_df.columns:
            player_awards_df = player_awards_df.drop(columns=['note'])
            print("The 'note' column has been dropped.")
else:
            #cleaned_df = player_awards_df.copy() 
            print("The 'note' column does not exist in the DataFrame.")

player_awards_df.head()

The 'note' column does not exist in the DataFrame.

    playerID     award  year lgID  pos    UniqueID
0  malonjo01  Art Ross  1917  NHL  NaN  1271087529
1  cleghod01  Art Ross  1918  NHL  NaN  2351583696
2  malonjo01  Art Ross  1919  NHL  NaN  2558019028
3  lalonne01  Art Ross  1920  NHL  NaN  3770123917
4  broadpu01  Art Ross  1921  NHL  NaN   199245795

In [27]:
# Check for duplicates in 'playerID', 'award', and 'year' columns
duplicates = player_awards_df[player_awards_df.duplicated(subset=['playerID', 'award', 'year'], keep=False)]
        
        # If duplicates exist, drop them
if not duplicates.empty:
            player_awards_df = player_awards_df.drop_duplicates(subset=['playerID', 'award', 'year'], keep='first')
            print("Duplicates removed.")
else:
            #cleaned_df_no_duplicates = cleaned_df.copy()
            print("No duplicates found.")

player_awards_df.head()

No duplicates found.

    playerID     award  year lgID  pos    UniqueID
0  malonjo01  Art Ross  1917  NHL  NaN  1271087529
1  cleghod01  Art Ross  1918  NHL  NaN  2351583696
2  malonjo01  Art Ross  1919  NHL  NaN  2558019028
3  lalonne01  Art Ross  1920  NHL  NaN  3770123917
4  broadpu01  Art Ross  1921  NHL  NaN   199245795

In [31]:
# Fill blank cells in the 'pos' column with 'n/a'
player_awards_df['pos'].fillna('n/a', inplace=True)

player_awards_df.head()

    playerID     award  year lgID  pos    UniqueID
0  malonjo01  Art Ross  1917  NHL  n/a  1271087529
1  cleghod01  Art Ross  1918  NHL  n/a  2351583696
2  malonjo01  Art Ross  1919  NHL  n/a  2558019028
3  lalonne01  Art Ross  1920  NHL  n/a  3770123917
4  broadpu01  Art Ross  1921  NHL  n/a   199245795

In [32]:
# Define the new order of columns
new_column_order = ['UniqueID', 'playerID', 'award', 'year', 'lgID', 'pos']

# Reorder the columns in the DataFrame
player_awards_df = player_awards_df[new_column_order]

player_awards_df.head()

     UniqueID   playerID     award  year lgID  pos
0  1271087529  malonjo01  Art Ross  1917  NHL  n/a
1  2351583696  cleghod01  Art Ross  1918  NHL  n/a
2  2558019028  malonjo01  Art Ross  1919  NHL  n/a
3  3770123917  lalonne01  Art Ross  1920  NHL  n/a
4   199245795  broadpu01  Art Ross  1921  NHL  n/a

In [35]:
# Convert the "Year" column to numeric, coercing errors to NaN
player_awards_df['year'] = pd.to_numeric(player_awards_df['year'], errors='coerce')

# Filter out NaN values to keep only valid integers
player_awards_df = player_awards_df.dropna(subset=['year'])

# Convert the "Year" column back to integers (if needed)
player_awards_df['year'] = player_awards_df['year'].astype('int64')

# Now, player_awards_df contains only rows where the "Year" column has valid integer values

player_awards_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2091 entries, 0 to 2090
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   UniqueID  2091 non-null   int64
 1   playerID  2091 non-null   object
 2   award     2091 non-null   object
 3   year      2091 non-null   int64
 4   lgID      2091 non-null   object
 5   pos       2091 non-null   object
dtypes: int64(2), object(4)
memory usage: 98.1+ KB

In [33]:
# Save the cleaned DataFrame to a CSV file
try:
    player_awards_df.to_csv(output_file, index=False)
    print(f"Cleaned data saved to {output_file}")
except Exception as e:
    print(f"An error occurred while saving the cleaned data: {str(e)}")

Cleaned data saved to C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\Cleaned_Player_Awards.csv

In [36]:
# Generate unique integer values for the UniqueID column within a specific range
start_id = 1
end_id = 1000  # Adjust the end_id value as needed
player_awards_df['UniqueID'] = range(start_id, start_id + len(player_awards_df))

# Display the DataFrame with the unique identifiers
print(player_awards_df)

      UniqueID   playerID                 award  year lgID  pos
0            1  malonjo01              Art Ross  1917  NHL  n/a
1            2  cleghod01              Art Ross  1918  NHL  n/a
2            3  malonjo01              Art Ross  1919  NHL  n/a
3            4  lalonne01              Art Ross  1920  NHL  n/a
4            5  broadpu01              Art Ross  1921  NHL  n/a
...        ...        ...                   ...   ...  ...  ...
2086      2087  gretzwa01  Second Team All-Star  1978  WHA    C
2087      2088  langeda01  Second Team All-Star  1978  WHA    D
2088      2089  lukowmo01  Second Team All-Star  1978  WHA   LW
2089      2090  macdobl01  Second Team All-Star  1978  WHA   RW
2090      2091  shmyrpa01  Second Team All-Star  1978  WHA    D

[2091 rows x 6 columns]

In [22]:
import numpy as np

# Create a new column for the unique identifier
player_awards_df['UniqueID'] = np.arange(1, len(player_awards_df) + 1)

# Iterate over each row and generate a unique identifier based on PlayerID, Award, and Year
for index, row in player_awards_df.iterrows():
    unique_id = hash((row['playerID'], row['award'], row['year']))
    player_awards_df.at[index, 'UniqueID'] = unique_id

# Convert the unique identifier to a positive value
player_awards_df['UniqueID'] = player_awards_df['UniqueID'].apply(lambda x: x & ((1 << 32) - 1))

# Display the DataFrame with the unique identifiers
print(player_awards_df)

       playerID                 award  year lgID note  pos    UniqueID
0     malonjo01              Art Ross  1917  NHL  NaN  NaN  1271087529
1     cleghod01              Art Ross  1918  NHL  NaN  NaN  2351583696
2     malonjo01              Art Ross  1919  NHL  NaN  NaN  2558019028
3     lalonne01              Art Ross  1920  NHL  NaN  NaN  3770123917
4     broadpu01              Art Ross  1921  NHL  NaN  NaN   199245795
...         ...                   ...   ...  ...  ...  ...         ...
2086  gretzwa01  Second Team All-Star  1978  WHA  NaN    C   923685446
2087  langeda01  Second Team All-Star  1978  WHA  NaN    D    16605587
2088  lukowmo01  Second Team All-Star  1978  WHA  NaN   LW  3102755038
2089  macdobl01  Second Team All-Star  1978  WHA  NaN   RW  1435529561
2090  shmyrpa01  Second Team All-Star  1978  WHA  NaN    D   786091709

[2091 rows x 7 columns]

C:\Users\lenar\AppData\Local\Temp\ipykernel_16232\3259925093.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '-7385884403861077591' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  player_awards_df.at[index, 'UniqueID'] = unique_id

In [37]:
player_awards_df.to_csv(output_file, index=False)
print(f"Cleaned data saved to {output_file}")

Cleaned data saved to C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\Cleaned_Player_Awards.csv

Clean Goalies

In [4]:
# Got an error. Need to remove extraneous characters before reading CSV

import csv

# Specify the path to your CSV file
csv_file = r'C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\Goalies.csv'

# Specify the expected number of fields in each row
expected_num_fields = 23

# Open the CSV file and iterate over its rows
with open(csv_file, 'r', newline='') as file:
    reader = csv.reader(file)
    data = [row for row in reader]

# Identify rows with 24 characters
rows_with_24_characters = [row for row in data if len(row) == expected_num_fields + 1]

# Remove the additional character from rows with 24 characters
corrected_data = [row[:-1] if len(row) == expected_num_fields + 1 else row for row in data]

# Write the corrected data back to the CSV file
with open(csv_file, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(corrected_data)

print("Additional character removed from rows with 24 characters in the CSV file:", csv_file)

Additional character removed from rows with 24 characters in the CSV file: C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\Goalies.csv

In [5]:
# Print the number of rows with 24 characters before correction
print("Number of rows with 24 characters before correction:", len(rows_with_24_characters))

# Open the corrected CSV file and count the number of rows with 24 characters
with open(csv_file, 'r', newline='') as file:
    reader = csv.reader(file)
    rows_with_24_characters_corrected = [row for row in reader if len(row) == expected_num_fields + 1]

# Print the number of rows with 24 characters after correction
print("Number of rows with 24 characters after correction:", len(rows_with_24_characters_corrected))

Number of rows with 24 characters before correction: 89
Number of rows with 24 characters after correction: 0

In [7]:
import pandas as pd

# Full absolute path to the csv file
file_path = r'C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\Goalies.csv'

# Read Excel file into a DataFrame
try:
    goalies_df = pd.read_csv(file_path)
    print(goalies_df.head(2))  # Display first few rows to verify
except FileNotFoundError:
    print("File not found at the specified location.")

goalies_df.head()

    playerID  year  stint tmID lgID    GP    Min    W    L  T/OL  ...     SA  \
0  abbotge01  1943      1  BOS  NHL   1.0   60.0  0.0  1.0   0.0  ...    NaN
1  abrahch01  1974      1  NEW  WHA  16.0  870.0  8.0  6.0   1.0  ...  504.0

   PostGP  PostMin  PostW  PostL  PostT  PostENG  PostSHO  PostGA  PostSA
0     NaN      NaN    NaN    NaN    NaN      NaN      NaN     NaN     NaN
1     NaN      NaN    NaN    NaN    NaN      NaN      NaN     NaN     NaN

[2 rows x 23 columns]

,playerID,year,stint,tmID,lgID,GP,Min,W,L,T/OL,...,SA,PostGP,PostMin,PostW,PostL,PostT,PostENG,PostSHO,PostGA,PostSA
0,abbotge01,1943,1,BOS,NHL,1.0,60.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,abrahch01,1974,1,NEW,WHA,16.0,870.0,8.0,6.0,1.0,...,504.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,abrahch01,1975,1,NEW,WHA,41.0,2385.0,18.0,18.0,2.0,...,1221.0,1.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
3,abrahch01,1976,1,NEW,WHA,45.0,2484.0,15.0,22.0,4.0,...,1438.0,2.0,90.0,0.0,1.0,NaN,0.0,0.0,5.0,51.0
4,adamsjo02,1972,1,BOS,NHL,14.0,780.0,9.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Drop extraneous rows

to_drop = ['stint',
           'T/OL',
           'ENG',
           'SHO',
           'GA',
           'SA',
           'PostGP',
           'PostMin',
           'PostW',
           'PostL',
           'PostT',
           'PostENG',
           'PostSHO',
           'PostGA',
           'PostSA']

goalies_df.drop(to_drop, inplace=True, axis=1)

goalies_df.head()

    playerID  year tmID lgID    GP     Min     W     L
0  abbotge01  1943  BOS  NHL   1.0    60.0   0.0   1.0
1  abrahch01  1974  NEW  WHA  16.0   870.0   8.0   6.0
2  abrahch01  1975  NEW  WHA  41.0  2385.0  18.0  18.0
3  abrahch01  1976  NEW  WHA  45.0  2484.0  15.0  22.0
4  adamsjo02  1972  BOS  NHL  14.0   780.0   9.0   3.0

In [11]:
#Rename columns to make sense

goalies_df.rename(columns={'TmID': 'TeamID', 'GP': 'Games_Played', 'Min': 'Minutes_Played', 'W': 'Wins', 'L': 'Losses'})
goalies_df.head()

    playerID  year tmID lgID    GP     Min     W     L UniqueID
0  abbotge01  1943  BOS  NHL   1.0    60.0   0.0   1.0       G1
1  abrahch01  1974  NEW  WHA  16.0   870.0   8.0   6.0       G2
2  abrahch01  1975  NEW  WHA  41.0  2385.0  18.0  18.0       G3
3  abrahch01  1976  NEW  WHA  45.0  2484.0  15.0  22.0       G4
4  adamsjo02  1972  BOS  NHL  14.0   780.0   9.0   3.0       G5

In [10]:
import numpy as np

# Create a new column for the unique identifier
goalies_df['UniqueID'] = np.arange(1, len(goalies_df) + 1)

# Generate alphanumeric unique identifiers
goalies_df['UniqueID'] = goalies_df['UniqueID'].apply(lambda x: 'G' + str(x))

# Display the DataFrame with the unique identifiers
goalies_df.head()

    playerID  year tmID lgID    GP     Min     W     L UniqueID
0  abbotge01  1943  BOS  NHL   1.0    60.0   0.0   1.0       G1
1  abrahch01  1974  NEW  WHA  16.0   870.0   8.0   6.0       G2
2  abrahch01  1975  NEW  WHA  41.0  2385.0  18.0  18.0       G3
3  abrahch01  1976  NEW  WHA  45.0  2484.0  15.0  22.0       G4
4  adamsjo02  1972  BOS  NHL  14.0   780.0   9.0   3.0       G5

I'm just going to start doing players now

In [13]:
# Full absolute path to the csv file
file_path = r'C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\player_details_active.csv'

# Read Excel file into a DataFrame
try:
    player_details_active_df = pd.read_csv(file_path)
    print(player_details_active_df.head(2))  # Display first few rows to verify
except FileNotFoundError:
    print("File not found at the specified location.")

   PlayerID FirstName LastName           Status  TeamID Team Position  Jersey  \
0  30000007     Carey    Price  Injured Reserve       4  MON        G    31.0
1  30000012      Lars    Eller           Active      14  PIT        C    20.0

  Catches Shoots  ...  DepthChartPosition  DepthChartOrder GlobalTeamID  \
0       L    NaN  ...                 NaN              NaN     30000004
1     NaN      L  ...                   C              1.0     30000014

  FantasyDraftName FantasyDraftPlayerID UsaTodayPlayerID  \
0              NaN                  NaN        8256983.0
1       Lars Eller             392954.0        8310422.0

                                 UsaTodayHeadshotUrl  \
0  http://cdn.usatsimg.com/api/download/?imageID=...
1  http://cdn.usatsimg.com/api/download/?imageID=...

                     UsaTodayHeadshotNoBackgroundUrl  UsaTodayHeadshotUpdated  \
0  http://cdn.usatsimg.com/api/download/?imageID=...      2022-10-03T11:29:39
1  http://cdn.usatsimg.com/api/download/?imageID=...      2021-09-30T15:30:07

   UsaTodayHeadshotNoBackgroundUpdated
0                  2020-07-26T12:20:00
1                  2021-09-30T15:30:15

[2 rows x 43 columns]

In [14]:
player_details_active_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1855 entries, 0 to 1854
Data columns (total 43 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   PlayerID                             1855 non-null   int64
 1   FirstName                            1855 non-null   object
 2   LastName                             1855 non-null   object
 3   Status                               1855 non-null   object
 4   TeamID                               1855 non-null   int64
 5   Team                                 1855 non-null   object
 6   Position                             1855 non-null   object
 7   Jersey                               795 non-null    float64
 8   Catches                              203 non-null    object
 9   Shoots                               1649 non-null   object
 10  Height                               1855 non-null   int64
 11  Weight                               1855 non-null   int64
 12  BirthDate                            1854 non-null   object
 13  BirthCity                            1851 non-null   object
 14  BirthState                           1378 non-null   object
 15  PhotoUrl                             1855 non-null   object
 16  SportRadarPlayerID                   1371 non-null   object
 17  RotoworldPlayerID                    609 non-null    float64
 18  RotoWirePlayerID                     1501 non-null   float64
 19  FantasyAlarmPlayerID                 445 non-null    float64
 20  StatsPlayerID                        1626 non-null   float64
 21  SportsDirectPlayerID                 1599 non-null   float64
 22  XmlTeamPlayerID                      1062 non-null   float64
 23  InjuryStatus                         1855 non-null   object
 24  InjuryBodyPart                       1855 non-null   object
 25  InjuryStartDate                      112 non-null    object
 26  InjuryNotes                          1855 non-null   object
 27  FanDuelPlayerID                      1795 non-null   float64
 28  DraftKingsPlayerID                   1792 non-null   float64
 29  YahooPlayerID                        1813 non-null   float64
 30  FanDuelName                          1794 non-null   object
 31  DraftKingsName                       1792 non-null   object
 32  YahooName                            1321 non-null   object
 33  DepthChartPosition                   659 non-null    object
 34  DepthChartOrder                      659 non-null    float64
 35  GlobalTeamID                         1855 non-null   int64
 36  FantasyDraftName                     763 non-null    object
 37  FantasyDraftPlayerID                 763 non-null    float64
 38  UsaTodayPlayerID                     1600 non-null   float64
 39  UsaTodayHeadshotUrl                  1022 non-null   object
 40  UsaTodayHeadshotNoBackgroundUrl      1020 non-null   object
 41  UsaTodayHeadshotUpdated              1021 non-null   object
 42  UsaTodayHeadshotNoBackgroundUpdated  1019 non-null   object
dtypes: float64(13), int64(5), object(25)
memory usage: 623.3+ KB

In [15]:
player_details_active_df.head()

,PlayerID,FirstName,LastName,Status,TeamID,Team,Position,Jersey,Catches,Shoots,...,DepthChartPosition,DepthChartOrder,GlobalTeamID,FantasyDraftName,FantasyDraftPlayerID,UsaTodayPlayerID,UsaTodayHeadshotUrl,UsaTodayHeadshotNoBackgroundUrl,UsaTodayHeadshotUpdated,UsaTodayHeadshotNoBackgroundUpdated
0,30000007,Carey,Price,Injured Reserve,4,MON,G,31.0,L,NaN,...,NaN,NaN,30000004,NaN,NaN,8256983.0,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2022-10-03T11:29:39,2020-07-26T12:20:00
1,30000012,Lars,Eller,Active,14,PIT,C,20.0,NaN,L,...,C,1.0,30000014,Lars Eller,392954.0,8310422.0,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2021-09-30T15:30:07,2021-09-30T15:30:15
2,30000015,Brendan,Gallagher,Active,4,MON,RW,11.0,NaN,R,...,LW,1.0,30000004,Brendan Gallagher,555807.0,8256974.0,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2023-03-09T22:06:57,2023-03-09T22:07:01
3,30000019,Max,Pacioretty,Active,15,WAS,LW,67.0,NaN,L,...,LW,1.0,30000015,Max Pacioretty,392964.0,8304987.0,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2021-09-30T15:08:14,2021-09-30T15:08:21
4,30000031,Peter,Holland,Minors,19,COL,C,NaN,NaN,L,...,NaN,NaN,30000019,Peter Holland,1416068.0,135.0,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,NaN,NaN

In [16]:
duplicates = player_details_active_df['PlayerID'].duplicated().sum()

if duplicates == 0:
    print("All values in the PlayerID column are unique.")
else:
    print("There are duplicate values in the PlayerID column.")

All values in the PlayerID column are unique.

In [17]:
# Full absolute path to the csv file
file_path = r'C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\active_teams_data.csv'

# Read Excel file into a DataFrame
try:
    teams_active_df = pd.read_csv(file_path)
    print(teams_active_df.head(2))  # Display first few rows to verify
except FileNotFoundError:
    print("File not found at the specified location.")

   TeamID  Key  Active     City    Name  StadiumID Conference  Division  \
0       1  BOS    True   Boston  Bruins          3    Eastern  Atlantic
1       2  BUF    True  Buffalo  Sabres          4    Eastern  Atlantic

  PrimaryColor SecondaryColor TertiaryColor QuaternaryColor  \
0       000000         FDB717           NaN             NaN
1       003087         FFB81C        FFFFFF             NaN

                                    WikipediaLogoUrl  WikipediaWordMarkUrl  \
0  https://upload.wikimedia.org/wikipedia/commons...                   NaN
1  https://upload.wikimedia.org/wikipedia/en/9/9e...                   NaN

   GlobalTeamID       HeadCoach
0      30000001  Jim Montgomery
1      30000002     Don Granato

In [18]:
teams_active_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TeamID                32 non-null     int64
 1   Key                   32 non-null     object
 2   Active                32 non-null     bool
 3   City                  32 non-null     object
 4   Name                  32 non-null     object
 5   StadiumID             32 non-null     int64
 6   Conference            32 non-null     object
 7   Division              32 non-null     object
 8   PrimaryColor          32 non-null     object
 9   SecondaryColor        32 non-null     object
 10  TertiaryColor         29 non-null     object
 11  QuaternaryColor       13 non-null     object
 12  WikipediaLogoUrl      32 non-null     object
 13  WikipediaWordMarkUrl  0 non-null      float64
 14  GlobalTeamID          32 non-null     int64
 15  HeadCoach             32 non-null     object
dtypes: bool(1), float64(1), int64(3), object(11)
memory usage: 3.9+ KB

In [21]:
# Full absolute path to the csv file
file_path = r'C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\active_teams_data.csv'

# Read Excel file into a DataFrame
try:
    teams_all_df = pd.read_csv(file_path)
    print(teams_all_df.head(2))  # Display first few rows to verify
except FileNotFoundError:
    print("File not found at the specified location.")

   TeamID  Key  Active     City    Name  StadiumID Conference  Division  \
0       1  BOS    True   Boston  Bruins          3    Eastern  Atlantic
1       2  BUF    True  Buffalo  Sabres          4    Eastern  Atlantic

  PrimaryColor SecondaryColor TertiaryColor QuaternaryColor  \
0       000000         FDB717           NaN             NaN
1       003087         FFB81C        FFFFFF             NaN

                                    WikipediaLogoUrl  WikipediaWordMarkUrl  \
0  https://upload.wikimedia.org/wikipedia/commons...                   NaN
1  https://upload.wikimedia.org/wikipedia/en/9/9e...                   NaN

   GlobalTeamID       HeadCoach
0      30000001  Jim Montgomery
1      30000002     Don Granato

In [22]:
teams_all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TeamID                32 non-null     int64
 1   Key                   32 non-null     object
 2   Active                32 non-null     bool
 3   City                  32 non-null     object
 4   Name                  32 non-null     object
 5   StadiumID             32 non-null     int64
 6   Conference            32 non-null     object
 7   Division              32 non-null     object
 8   PrimaryColor          32 non-null     object
 9   SecondaryColor        32 non-null     object
 10  TertiaryColor         29 non-null     object
 11  QuaternaryColor       13 non-null     object
 12  WikipediaLogoUrl      32 non-null     object
 13  WikipediaWordMarkUrl  0 non-null      float64
 14  GlobalTeamID          32 non-null     int64
 15  HeadCoach             32 non-null     object
dtypes: bool(1), float64(1), int64(3), object(11)
memory usage: 3.9+ KB

In [28]:
# Full absolute path to the csv file
file_path = r'C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\hockey_starting_data\league_averages.csv'

# Read Excel file into a DataFrame
try:
    league_averages_df = pd.read_csv(file_path)
    print(league_averages_df.head(2))  # Display first few rows to verify
except FileNotFoundError:
    print("File not found at the specified location.")

   Rk   Season   Lg    GP     G    PP   PPO    PP%    PK%    SA    SV    SV%  \
0   1  2023-24  NHL   446  3.13  0.65  3.27  20.00  80.00  30.5  27.6  0.904
1   2  2022-23  NHL  1312  3.18  0.65  3.07  21.31  78.69  31.1  28.1  0.904

    GAA
0  2.94
1  2.97

In [29]:
league_averages_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      106 non-null    int64
 1   Season  106 non-null    object
 2   Lg      106 non-null    object
 3   GP      106 non-null    int64
 4   G       106 non-null    float64
 5   PP      90 non-null     float64
 6   PPO     60 non-null     float64
 7   PP%     60 non-null     float64
 8   PK%     60 non-null     float64
 9   SA      68 non-null     float64
 10  SV      68 non-null     float64
 11  SV%     68 non-null     float64
 12  GAA     106 non-null    float64
dtypes: float64(9), int64(2), object(2)
memory usage: 10.9+ KB

In [30]:
league_averages_df.rename(columns={'G': 'Goals', 'PP%': 'PP_percent', 'PK%': 'PK_percent', 'SV%': 'SV_percent'}, inplace=True)

league_averages_df.head()

,Rk,Season,Lg,GP,Goals,PP,PPO,PP_percent,PK_percent,SA,SV,SV_percent,GAA
0,1,2023-24,NHL,446,3.13,0.65,3.27,20.00,80.00,30.5,27.6,0.904,2.94
1,2,2022-23,NHL,1312,3.18,0.65,3.07,21.31,78.69,31.1,28.1,0.904,2.97
2,3,2021-22,NHL,1312,3.14,0.60,2.89,20.61,79.39,31.4,28.5,0.907,2.92
3,4,2020-21,NHL,868,2.94,0.57,2.89,19.78,80.22,29.8,27.1,0.908,2.74
4,5,2019-20,NHL,1082,3.02,0.60,2.97,20.03,79.97,31.3,28.4,0.910,2.82

In [32]:
# Save the cleaned DataFrame to a CSV file

output_file = r'C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\hockey_starting_data\league_averages.csv'

try:
    league_averages_df.to_csv(output_file, index=False)
    print(f"Cleaned data saved to {output_file}")
except Exception as e:
    print(f"An error occurred while saving the cleaned data: {str(e)}")

Cleaned data saved to C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\hockey_starting_data\league_averages.csv

Stadium Data

In [33]:
# Full absolute path to the csv file
file_path = r'C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\stadium_data.csv'

# Read Excel file into a DataFrame
try:
    stadium_data_df = pd.read_csv(file_path)
    print(league_averages_df.head(2))  # Display first few rows to verify
except FileNotFoundError:
    print("File not found at the specified location.")

   Rk   Season   Lg    GP  Goals    PP   PPO  PP_percent  PK_percent    SA  \
0   1  2023-24  NHL   446   3.13  0.65  3.27       20.00       80.00  30.5
1   2  2022-23  NHL  1312   3.18  0.65  3.07       21.31       78.69  31.1

     SV  SV_percent   GAA
0  27.6       0.904  2.94
1  28.1       0.904  2.97

In [34]:
stadium_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StadiumID  73 non-null     int64
 1   Active     73 non-null     bool
 2   Name       73 non-null     object
 3   Address    72 non-null     object
 4   City       73 non-null     object
 5   State      70 non-null     object
 6   Zip        68 non-null     object
 7   Country    73 non-null     object
 8   Capacity   68 non-null     float64
 9   GeoLat     71 non-null     float64
 10  GeoLong    71 non-null     float64
dtypes: bool(1), float64(3), int64(1), object(6)
memory usage: 5.9+ KB

In [35]:
duplicates = stadium_data_df['StadiumID'].duplicated().sum()

if duplicates == 0:
    print("All values in the StadiumID column are unique.")
else:
    print("There are duplicate values in the StadiumID column.")

All values in the StadiumID column are unique.

In [36]:
stadium_data_df.rename(columns={'Name': '_Name'}, inplace=True)
stadium_data_df.head()

,StadiumID,Active,_Name,Address,City,State,Zip,Country,Capacity,GeoLat,GeoLong
0,1,True,Honda Center,2695 E. Katella Ave.,Anaheim,CA,92806,USA,17174.0,33.807778,-117.876667
1,2,True,Desert Diamond Arena,9400 W. Maryland Ave.,Glendale,AZ,85305,USA,17125.0,33.531944,-112.261111
2,3,True,TD Garden,100 Legends Way,Boston,MA,2114,USA,17565.0,42.366303,-71.062228
3,4,True,KeyBank Center,One Seymour H. Knox III Plaza,Buffalo,NY,14203,USA,18690.0,42.875000,-78.876389
4,5,True,PNC Arena,1400 Edwards Mill Road,Raleigh,NC,27607,USA,18680.0,35.803333,-78.721944

In [39]:
stadium_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StadiumID  73 non-null     int64
 1   Active     73 non-null     bool
 2   _Name      73 non-null     object
 3   Address    72 non-null     object
 4   City       73 non-null     object
 5   State      70 non-null     object
 6   Zip        68 non-null     object
 7   Country    73 non-null     object
 8   Capacity   68 non-null     float64
 9   GeoLat     71 non-null     float64
 10  GeoLong    71 non-null     float64
dtypes: bool(1), float64(3), int64(1), object(6)
memory usage: 5.9+ KB

In [ ]:
# Combine birthYear, birthMon, and birthDay columns into Birth_Date
stadium_data_df['Location'] = stadium_data_df[['Address', 'City', 'State', 'Zip', 'Country']].apply(
    lambda x: '-'.join(str(v) if not pd.isna(v) else '' for v in x), axis=1)

# Drop orgianl columns
stadium_data_df.drop(columns=['Address', 'City', 'State', 'Zip', 'Country'], inplace=True)

stadium_data_df.info()

In [46]:
stadium_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StadiumID  73 non-null     int64
 1   Active     73 non-null     bool
 2   _Name      73 non-null     object
 3   Capacity   68 non-null     float64
 4   GeoLat     71 non-null     float64
 5   GeoLong    71 non-null     float64
 6   Location   73 non-null     object
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 3.6+ KB

In [ ]:
stadium_data_df = stadium_data_df[['StadiumID', '_Name', 'Capacity', 'Location', 'GeoLat', 'GeoLong', 'Active']]
stadium_data_df.head(2)

In [ ]:
stadium_data_df.rename(columns={'Location': '_Location'}, inplace=True)
stadium_data_df.head(2)

In [55]:
stadium_data_df.dropna(inplace=True)  # Drop rows with NaN values

In [58]:
stadium_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, 0 to 72
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StadiumID  67 non-null     int64
 1   _Name      67 non-null     object
 2   Capacity   67 non-null     float64
 3   _Location  67 non-null     object
 4   GeoLat     67 non-null     float64
 5   GeoLong    67 non-null     float64
 6   Active     67 non-null     bool
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 3.7+ KB

In [59]:
# Save the cleaned DataFrame to a CSV file

output_file = r'C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\stadium_data.csv'

try:
    stadium_data_df.to_csv(output_file, index=False)
    print(f"Cleaned data saved to {output_file}")
except Exception as e:
    print(f"An error occurred while saving the cleaned data: {str(e)}")

Cleaned data saved to C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\stadium_data.csv

In [17]:
import pandas as pd
import numpy as np

# Full absolute path to the csv file
file_path = r'C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\NHL_team_file_save.csv'

# Read Excel file into a DataFrame
try:
    mapping_data_df = pd.read_csv(file_path)
    print(mapping_data_df.head(2))  # Display first few rows to verify
except FileNotFoundError:
    print("File not found at the specified location.")

   year lgID tmID franchID            teamName       lat      long conference  \
0  1917  NHL  MTL      MTL  Montreal Canadiens  45.49611 -73.56944    Eastern
1  1917  NHL  MTW      MTW  Montreal Wanderers  45.48000 -73.59483        NaN

   totalSeasons  pointPercent  ...  SCAppearances  StanleyCupWins  active  \
0           106         0.580  ...             33              23     yes
1             1         0.167  ...              0               0      no

   lastSeason teamChange  teamChangeLat teamChangeLong  nhlAffiliate  \
0        2022        NaN            0.0            0.0           NaN
1        1917        NaN            0.0            0.0           NaN

   ahlAffiliate         echlAffiliate
0  Laval Rocket  Trois-Rivieres Lions
1           NaN                   NaN

[2 rows x 22 columns]

In [18]:
mapping_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            117 non-null    int64
 1   lgID            117 non-null    object
 2   tmID            117 non-null    object
 3   franchID        58 non-null     object
 4   teamName        117 non-null    object
 5   lat             117 non-null    float64
 6   long            117 non-null    float64
 7   conference      32 non-null     object
 8   totalSeasons    117 non-null    int64
 9   pointPercent    117 non-null    float64
 10  playoffSeasons  117 non-null    int64
 11  playoffPercent  117 non-null    float64
 12  SCAppearances   117 non-null    int64
 13  StanleyCupWins  117 non-null    int64
 14  active          58 non-null     object
 15  lastSeason      117 non-null    int64
 16  teamChange      20 non-null     object
 17  teamChangeLat   117 non-null    float64
 18  teamChangeLong  117 non-null    float64
 19  nhlAffiliate    59 non-null     object
 20  ahlAffiliate    59 non-null     object
 21  echlAffiliate   56 non-null     object
dtypes: float64(6), int64(6), object(10)
memory usage: 20.2+ KB

In [19]:
# fill in null values

#drop null values

mapping_data_df.fillna('N/A', inplace=True)
mapping_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            117 non-null    int64
 1   lgID            117 non-null    object
 2   tmID            117 non-null    object
 3   franchID        117 non-null    object
 4   teamName        117 non-null    object
 5   lat             117 non-null    float64
 6   long            117 non-null    float64
 7   conference      117 non-null    object
 8   totalSeasons    117 non-null    int64
 9   pointPercent    117 non-null    float64
 10  playoffSeasons  117 non-null    int64
 11  playoffPercent  117 non-null    float64
 12  SCAppearances   117 non-null    int64
 13  StanleyCupWins  117 non-null    int64
 14  active          117 non-null    object
 15  lastSeason      117 non-null    int64
 16  teamChange      117 non-null    object
 17  teamChangeLat   117 non-null    float64
 18  teamChangeLong  117 non-null    float64
 19  nhlAffiliate    117 non-null    object
 20  ahlAffiliate    117 non-null    object
 21  echlAffiliate   117 non-null    object
dtypes: float64(6), int64(6), object(10)
memory usage: 20.2+ KB

In [21]:
# Add a unique identifier 

# Create a new column for the unique identifier
mapping_data_df['UniqueID'] = np.arange(1, len(mapping_data_df) + 1)

# Save the DataFrame back to a CSV file
mapping_data_df.to_csv("mapping_with_unique_id.csv", index=False)

In [22]:
duplicates = mapping_data_df['UniqueID'].duplicated().sum()

if duplicates == 0:
    print("All values are unique.")
else:
    print("There are duplicate values in the column.")

All values are unique.